.content{height:440px}.fl-right{float:right}.fl-left{float:left}.inline{display:inline}.clear{clear:both}.orange{color:#f60}.p-top-0{padding-top:0!important}.m-top-5{margin-top:5px}.m-top-10{margin-top:10px}.m-top-15{margin-top:15px}.m-right-5{margin-right:5px!important}.m-bottom-0{margin-bottom:0}.h-106{height:106px}.clearfix{clear:both}.btn-border{border:solid 1px #ff8712;padding:5px
10px;text-align:center;display:inline;font-weight:normal;color:#000;float:right;margin-left:20px;font-size:11px;line-height:1.1em}.btn-border:hover{background-color:#ffdcba;font-size:11px}.txt-white{font-family:Open sans;color:#fff}.txt-white a, .txt-white a:hover, .txt-white a:active, .txt-white a:focus{color:#fff;text-decoration:underline}.btn-xs{padding:3px
5px;font-size:12px;line-height:1.5;border-radius:3px}.btn-default{color:#FFF;background-color:#FF8000;border:none;text-decoration:none;text-align:center}.button-app{display:inline-block;margin-top:-2px;margin-left:104px}a.icon-like:before,span.icon-like:before{width:14px;height:16px;background-position:-137px -226px}a.icon-comments:before,span.icon-comments:before{background-position:-51px -177px;width:16px;height:16px}.icons{display:table}.icons>div{display:table-cell}.no-txt-deco{text-decoration:none}.blink{text-decoration:blink;-webkit-animation-name:blinker;-webkit-animation-duration:0.5s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite;-moz-animation-name:blinker;-moz-animation-duration:0.5s;-moz-animation-timing-function:linear;-moz-animation-iteration-count:infinite;animation-name:blinker;animation-duration:0.5s;animation-timing-function:linear;animation-iteration-count:infinite}@-moz-keyframes
blinker{0%{opacity:1.0}50%{opacity:0.0}100%{opacity:1.0}}@-webkit-keyframes
blinker{0%{opacity:1.0}50%{opacity:0.0}100%{opacity:1.0}}@keyframes
blinker{0%{opacity:1.0}50%{opacity:0.0}100%{opacity:1.0}}body{margin:0;height:300px}div.jp-audio,div.jp-audio-stream,div.jp-video{font-size:0.7em;font-family:Verdana,Arial,sans-serif;line-height:1.1;color:#666;height:97px}div.jp-audio{background:none repeat scroll 0 0 #f7f7f7;border-bottom:1px solid #D6D6D6;height:180px;min-width:490px;padding-bottom:5px}div.jp-audio-stream{width:182px}#jp_container_0{margin-top:-3px}div.jp-audio div.jp-type-single div.jp-interface{position:relative;width:100%}.jp-type-single{padding-bottom:5px;padding-top:10px}.content-img-new{height:115px;border:solid 1px #dcdedb;background-color:#fff;position:relative;margin-top:10px;margin-left:10px}div
#jp_image{float:left;margin-right:5px;height:115px;width:117px;white-space:nowrap;text-align:center}.helper{display:inline-block;height:100%;vertical-align:middle}.helper:before{content:initial;background:none;float:none;margin-right:0px}div #jp_image
img{width:115px;border:solid 1px #d7d7d7;position:relative;vertical-align:middle;max-height:115px;max-width:117px}div .jp_left_side, div
.jp_right_side{height:79px;vertical-align:top}div
.jp_left_side{position:absolute}div .jp_left_side ul.jp-controls{}div
.jp_right_side{}div .jp_right_side div.jp_right_1, div .jp_right_side div.jp_right_2, div .jp_right_side
div.jp_right_3{width:100%;display:inline-block;float:left}div .jp_right_side
div.jp_right_1{height:24px}div .jp_right_side
div.jp_right_2{height:30px}div .jp_right_side
div.jp_right_3{height:35px}div .jp_right_side
div.jp_right_2{vertical-align:top}div.jp_right_1_1,div.jp_right_1_2,div.jp_right_3_1,div.jp_right_3_2,div.jp_right_3_3,div.jp_right_3_4,div.jp_right_3_5,div.jp_right_3_6,div.jp_right_3_7{font-size:0.9em;vertical-align:middle}div.jp_right_1_1{vertical-align:bottom;color:#b0b0b0;width:70%}div.jp_right_1_1
span{margin:10px
0 0;float:left}div.jp_right_1_2{float:right;margin:10px
10px 0 0}div.jp_right_3_6  a
img{border:0}div.jp_right_3_1{width:81px;border-right:1px solid #eee;position:absolute;z-index:999}div.jp_right_3_1
a{color:#666;display:inline-block;margin:8px
0}div.jp_right_3_1 a
img{border:0}div.jp_right_3_1 img, div.jp_right_3_1
span{float:left;margin-right:2px}div.jp_right_3_2{width:53px;text-align:center;position:absolute;padding-left:88px}div.jp_right_3_3{border-right:1px solid #eee;padding-left:10px;padding-right:10px}div.jp_right_3_4{width:53px;text-align:center;padding-right:5px;position:absolute;right:105px}div.jp_right_3_5{width:25px;height:36px;border-right:1px solid #eee;position:absolute;right:75px}div.jp_right_3_5 ul.jp-controls
li{margin:6px
0}div.jp_right_3_6{width:60px;position:absolute;margin:12px
0;right:6px}.logo-ivoox
a{display:block;width:53px;height:17px;background:transparent url("//static-1.ivoox.com/images/jplayer.ivoox.btn.png") 0px 0px no-repeat}div.jp_right_1_2
a{text-decoration:none;display:inline-block}div.comment_player_btn,div.like_player_btn,div.rss_player_btn,div.share_player_btn{background:#fff;color:#333;padding:2px
5px 2px 25px;text-align:center;font-size:14px;text-decoration:none}#embed_numrecomends,#embed_numcomments{color:#777;font-size:11px;font-weight:bold;text-decoration:none}div.share_player_btn{background:transparent url("//static-1.ivoox.com/images/ico_compartir.png") 7px -3px no-repeat;height:25px;display:inline;margin-left:20px}div.comment_player_btn{background:transparent url("//static-1.ivoox.com/images/ico_coments.png") 5px 2px no-repeat;display:inline;height:25px}div.like_player_btn{background:transparent url("//static-1.ivoox.com/images/ico_like.png") 5px 1px no-repeat;display:inline;height:25px}div.rss_player_btn{padding-left:5px;background-color:#666;color:#fff}#embed_user{color:#999;font-family:arial;font-size:12px;font-weight:bold}div.jp-controls-holder{clear:both;width:440px;margin:0
auto;position:relative;overflow:hidden;top:-8px}ul.jp-controls{list-style-type:none;margin:0;padding:7px;overflow:hidden;box-sizing:border-box;width:47px;height:47px;background-color:#ff8000}div.jp-audio ul.jp-controls{}div.jp-audio-stream ul.jp-controls{width:142px;padding:20px
20px 0 20px}div.jp-video ul.jp-controls,
ul.jp-controls
li{display:inline-block;float:left}ul.jp-controls
a{display:block;overflow:hidden;font-size:30px}a.jp-play2,a.jp-pause2{width:34px;height:34px;text-align:center}ul.jp-controls a.jp-play2:focus, ul.jp-controls a.jp-pause2:focus,a.jp-mute:focus,a.jp-unmute:focus{outline:none}a.jp-play2{text-decoration:none;color:#fff;background-color:#f60;;text-align:center;line-height:41px;background:url(//static-1.ivoox.com/images/sprites2.png) no-repeat -37px -300px #ff8000}a.jp-play2:hover{display:block;overflow:hidden;font-size:30px;color:#fff;text-decoration:none}a.jp-pause2{color:#fff;background-color:#897e6a;text-decoration:none;line-height:normal;background:url(//static-1.ivoox.com/images/sprites2.png) no-repeat -1px -300px #ff8000}a.jp-pause2:hover{color:#fff;text-decoration:none}div.jp-progress{overflow:hidden;background:url("//static-1.ivoox.com/images/wave_transparent.png") #f1f1f1}div.jp-audio div.jp-progress{height:47px}div.jp-audio div.jp-type-single div.jp-progress{left:110px}div.jp-audio div.jp-type-playlist div.jp-progress{left:166px}div.jp-seek-bar{width:0px;height:100%;cursor:pointer}div.jp-play-bar{width:0px;height:100%;background:url(//static-1.ivoox.com/images/wave_transparent.png) #ff8712}div.jp-seeking-bg{background:url("//static-1.ivoox.com/images/jplayer.blue.monday.seeking.gif")}a.jp-mute,a.jp-unmute,a.jp-volume-max{width:18px;height:18px}div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute{}div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute{}div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute{margin-left:10px}div.jp-audio a.jp-volume-max,
div.jp-audio-stream a.jp-volume-max{margin-left:56px}a.jp-mute{background:url("//static-1.ivoox.com/images/jplayer.volume_on.btn.png") 0 0 no-repeat}a.jp-mute:hover{background:url("//static-1.ivoox.com/images/jplayer.volume_on.btn.png") 0 0 no-repeat}a.jp-unmute{background:url("//static-1.ivoox.com/images/jplayer.volume_off.btn.png") 0 0 no-repeat;display:none}a.jp-unmute:hover{background:url("//static-1.ivoox.com/images/jplayer.volume_off.btn.png") 0 0 no-repeat}div.jp-volume-bar{overflow:hidden;background:url("//static-1.ivoox.com/images/jplayer.blue.monday.jpg") 0 -250px repeat-x;width:46px;height:5px;cursor:pointer;display:inline-block}div.jp-audio div.jp-volume-bar{top:37px;left:330px}div.jp-audio-stream div.jp-volume-bar{top:37px;left:92px}div.jp-volume-bar-value{background:url("//static-1.ivoox.com/images/jplayer.blue.monday.jpg") 0 -256px repeat-x;width:0px;height:5px}div.jp-audio div.jp-time-holder{}div.jp-audio div.jp-type-single div.jp-time-holder{}div.jp-audio div.jp-type-playlist div.jp-time-holder{left:166px;width:130px}div.jp-current-time,div.jp-duration{color:#555}div.jp-current-time{display:inline-block;font-size:12px;left:64px;margin-top:30px;position:absolute;background-color:rgba(244,244,244,0.6)}div.jp-duration{display:inline-block;text-align:right}.duration{color:#555;display:inline-block;font-size:12px;margin-top:30px;position:absolute;background-color:rgba(244,244,244,0.6);right:18px}#adlayer{display:none;position:absolute;top:0;left:0;z-index:999}a:before, span:before, .button .play:before{content:"";background:transparent url(//static-1.ivoox.com/images/sprites2.png) no-repeat 0 0;float:left;margin-right:10px}a.icon-download:before{width:16px;height:16px;background-position:-189px -375px}a.icon-rss:before{width:12px;height:12px;background-position:-137px -249px;margin-top:2px}a.icon-share:before{width:14px;height:13px;background-position:-138px -268px;margin-top:2px}ul.actions{margin-top:10px}ul.actions
li{float:left;margin-right:10px;border-right:solid 1px #ddd;padding-right:10px;height:15px;margin-bottom:3px;margin-top:10px;font-size:11px}ul.actions li:last-child{border-right:none}ul.actions li
a{text-decoration:none}ul.actions li a:hover{text-decoration:underline}div.jp-title{font-weight:normal}.truncate{overflow:hidden;text-overflow:ellipsis;max-height:40px}div.jp-title
p.title{color:#444;font-size:16px;font-weight:normal;line-height:20px;font-family:Open sans;margin-top:5px;margin-bottom:6px;white-space:nowrap}div.jp-title,div.jp-playlist{width:100%;border-top:1px solid #009be3}div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
div.jp-type-single div.jp-playlist{border-top:none}div.jp-title ul,
div.jp-playlist
ul{list-style-type:none;margin:0;padding:0;text-align:left}div.jp-title
li{color:#000;font-family:Arial,Helvetica,sans-serif}div.jp-jplayer audio,div.jp-jplayer{width:0px;height:0px}div.jp-jplayer{background-color:#000}ul.jp-toggles{list-style-type:none;padding:0;margin:0
auto;overflow:hidden}div.jp-audio .jp-type-single ul.jp-toggles{width:25px;padding-bottom:15px}div.jp-audio .jp-type-playlist ul.jp-toggles{width:55px;margin:0;position:absolute;left:325px;top:50px}ul.jp-toggles
li{display:block;float:right}ul.jp-toggles li
a{display:block;width:25px;height:18px;text-indent:-9999px;line-height:100%}.audio{display:block;background:#fff;padding:10px
5px;margin:5px;color:#0c0c0c;text-decoration:none;font-family:arial;font-size:12px;border:solid 1px #a5a5a5}.audio:hover{background:#d5d5d5}.audio.selected{background:#e2e2e2;color:#4b4b4b;font-weight:bold}#audiolist{height:210px;overflow-y:scroll}#embed_download{font-size:11px}#embed_download
img{margin-top:3px;border:none}.jp-no-solution{padding:5px;font-size:.8em;background-color:#eee;border:2px
solid #009be3;color:#000;display:none}.jp-no-solution
a{color:#000}.jp-no-solution
span{font-size:1em;display:block;text-align:center;font-weight:bold}@media (max-width: 490px){.hide-490{display:none}}@media (max-width: 431px){.jp-title{height:70px}}@media (max-width: 436px){ul.actions
li{float:left;margin-right:7px;border-right:solid 1px #ddd;padding-right:7px;height:15px;margin-bottom:3px;margin-top:10px;font-size:11px}}@media all and (max-width: 490px){div.jp-audio{min-width:160px}div.jp-title{font-size:1.2em;line-height:1.1em}div.jp_right_3_1
span{display:none}div.jp_right_3_1{width:30px}div.jp_right_3_2{padding-left:34px}div.jp_right_3_3{padding-left:10px;padding-right:126px}div.jp_right_3_6
a{width:53px;background:transparent url("//static-1.ivoox.com/images/jplayer.ivoox.btn_s.png") 0px 0px no-repeat}div.jp_right_3_6{width:32px;margin:8px
0}div.jp_right_3_5{right:42px}div.jp_right_3_4{right:73px}div .jp_right_side
div.jp_right_1{height:30px}div.jp_right_1_1
span{margin:10px
0 0}div.jp_right_1_2{margin:5px
10px 0 0}div .jp_right_side
div.jp_right_2{height:35px}.duration{color:#555;display:inline-block;font-size:12px;margin-top:30px;position:absolute;background-color:rgba(244, 244, 244, 0.6);right:15px}}@media all and (max-width: 490px){div.jp_right_1_2{margin-right:0}div.jp_right_3_3{padding-left:10px;padding-right:10px}div.jp-current-time{display:inline-block;font-size:12px;left:62px;position:absolute;margin-top:30px}.btn-border{border:solid 1px #ff8712;padding:5px
10px;text-align:center;font-weight:normal;color:#000;float:right;font-size:11px}div.share_player_btn{background:url("//static-1.ivoox.com/images/ico_compartir.png") no-repeat scroll 7px -3px transparent;display:inline;float:right;height:25px}div.like_player_btn{background:url("//static-1.ivoox.com/images/ico_like.png") no-repeat scroll 5px 1px transparent;display:inline;height:25px;margin-left:27px}div.comment_player_btn{background:url("//static-1.ivoox.com/images/ico_coments.png") no-repeat scroll 5px 2px transparent;display:inline;height:25px;margin-left:26px}}@media all and (max-width: 430px){div.jp_right_1_2 a
div.rss_player_btn{display:none}}@media (min-width: 430px){.button-app{display:inline-block;margin-top:7px;margin-left:5px}.truncate{overflow:hidden;text-overflow:ellipsis;max-height:22px}}@media (max-width: 299px){.button-app{margin-top:8px;margin-left:0}}@media all and (max-width: 400px){div.jp_right_3_5{display:none}div.jp_right_3_4{right:39px}div.jp_right_3_3{padding-left:10px;padding-right:5px}div.jp_right_3_6{}div.jp_right_3_6
a{width:20px}div
#jp_image{width:97px;height:97px}div #jp_image
img{width:95px}.truncate{overflow:hidden;text-overflow:ellipsis;max-height:23px}.jp_right_3{margin-top:15px}}@media (min-width: 401px){.jp_right_3{margin-top:5px}.button-app{display:block;margin-left:104px;margin-top:-21px}}@media all and (max-width: 419px){.hide-419{display:none}}@media all and (max-width: 348px){.hide-348{display:none}}@media all and (max-width: 330px){.hide-330{display:none}}@media all and (max-width: 310px){div.jp_right_3_6{width:25px}div.jp_right_3_1{width:22px}div.jp_right_3_2{padding-left:22px}div.jp_right_3_3{padding-left:10px;padding-right:10px}}@media all and (min-width: 301px) and (max-width:430px){.icons{display:table;margin-left:-8px}.btn-border{border:solid 1px #ff8712;padding:5px
10px;text-align:center;display:block;font-weight:normal;color:#000;float:none;margin-left:0;font-size:11px;margin-bottom:10px;overflow:auto}div.jp-title
p.title{font-size:15px;font-weight:normal;line-height:20px;margin-top:3px;margin-bottom:1px;color:#444;font-family:Open sans;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}}@media all and (min-width: 200px) and (max-width:300px){.icons{display:table;margin-left:-8px}.btn-border{border:solid 1px #ff8712;padding:5px
10px;text-align:center;display:block;font-weight:normal;color:#000;float:left;margin-left:0;font-size:11px;margin-bottom:10px;width:47%;overflow:auto}div.jp-title
p.title{font-size:15px;font-weight:normal;line-height:20px;margin-top:3px;margin-bottom:1px;color:#444;font-family:Open sans}}@media all and (min-width: 161px) and (max-width:299px){div.jp-title
p.title{font-size:15px;font-weight:normal;line-height:20px;margin-top:3px;margin-bottom:1px;color:#444;font-family:Open sans}.icons{display:table;margin-left:-8px}.hidden-xs{display:none}.boton{}.btn-border{border:solid 1px #ff8712;padding:5px
0;text-align:center;display:block;font-weight:normal;color:#000;margin-left:0;font-size:11px;margin-bottom:10px;width:100%}}.btn-apps{display:flex;margin-left:88px}img.btn-align-playstore-51{max-height:37px!important;margin-top:-13px;display:table-cell}img.btn-align-appstore-51{height:25px!important;margin-top:-7px;text-decoration:none;display:table-cell}@media (max-width:299px){.btn-apps{display:flex;margin-left:-15px}img.btn-align-playstore-51{max-height:37px!important;margin-top:-3px;display:table-cell}img.btn-align-appstore-51{height:25px!important;margin-top:3px;text-decoration:none;display:table-cell}}@media (min-width:300px) and (max-width:308px){.btn-apps{display:inline-flex;margin-left:98px;margin-top:-15px}img.btn-align-playstore-51{max-height:37px!important;margin-top:-3px;display:table-cell}img.btn-align-appstore-51{height:25px!important;margin-top:6px;text-decoration:none;display:table-cell}}@media (min-width:401px) and (max-width:430px){.btn-apps{display:flex;margin-left:111px;margin-top:-29px}img.btn-align-playstore-51{max-height:37px!important;margin-top:-3px;display:table-cell;margin-left:-6px}img.btn-align-appstore-51{height:25px!important;margin-top:6px;text-decoration:none;display:table-cell}}@media (min-width:431px){.btn-apps{display:flex;margin-left:120px;margin-top:13px}img.btn-align-playstore-51{max-height:37px!important;margin-top:-46px;display:table-cell}img.btn-align-appstore-51{height:25px!important;margin-top:-40px;text-decoration:none;display:table-cell}}.pull-middle{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}.m-bottom-20{margin-bottom:20px !important}.m-top-50n{margin-top:-50px}.fullscreen-modal{background-color:rgba(34,34,34,0.80);margin-right:auto;width:100%;height:430px;display:grid;position:absolute;z-index:9}.btn-default{padding:8px
12px;font-weight:400;line-height:1.42857143;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px
solid transparent;border-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;word-wrap:normal;background-color:#f80;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:20px;width:250px;border:solid 2px #f80;margin:25px
auto 15px auto !important;font-family:Open sans;display:block}.btn-default-outline{word-wrap:normal;padding:2px;font-weight:200;line-height:1.42857143;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;background-color:transparent;color:#fff;font-size:16px;margin:0
auto 0 auto;font-family:Open sans;display:inline-block}.btn-default-outline-black{background-color:rgba(0,0,0,0.6)}.btn-sm{font-size:12px;padding:4px
6px;margin:0
auto;width:auto;display:table}.gdpr-box{background:#504f4f;height:400px;position:absolute;color:#fff;text-align:center;font-size:14px;font-weight:100;margin-right:5px;display:table;z-index:5;width:100%}